<a href="https://colab.research.google.com/github/ian293382/Python_Pandas_Numpy/blob/main/PandasDemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

import pandas as pd

s = pd.Series([1,3,5,7,9])

print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [4]:
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 32, 18, 47],
    'city': ['New York', 'Paris', 'London', 'Berlin']
}

df = pd.DataFrame(data)

print(df)

      name  age      city
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47    Berlin

In [6]:
print(df[['name', 'city']])

      name      city
0    Alice  New York
1      Bob     Paris
2  Charlie    London
3    David    Berlin

In [7]:
print(df[0:3])

      name  age      city
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London