<a href="https://colab.research.google.com/github/ian293382/Python_Pandas_Numpy/blob/main/Task02_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

# 10~40內取個60個整數 在-1~4行
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))


# filtered by first column > 20 篩選大於20數值
mask1 = df[0] > 20
print(df[mask1])

     0   1   2   3
0   35  39  12  35
2   31  20  10  18
3   37  28  31  18
5   29  17  22  30
8   38  29  14  15
10  38  28  16  16
11  28  38  26  15
12  33  30  10  20
13  28  27  31  17
14  23  16  32  31

In [13]:
# filtered by first column + second column > 50
mask2 = df[0]+df[1] > 50
print(df[mask2])

     0   1   2   3
0   35  39  12  35
2   31  20  10  18
3   37  28  31  18
8   38  29  14  15
10  38  28  16  16
11  28  38  26  15
12  33  30  10  20
13  28  27  31  17

In [30]:
# filtered by first column < 30 or second column > 30

mask3 = df[0] < 30

mask4 = df[1] > 30

total_mask = mask3 & mask4
print(df[total_mask])

     0   1   2   3
4   14  36  39  30
9   17  32  34  37
11  28  38  26  15

In [38]:
# filter by total sum of row > 100
mask5 = df.sum(axis=1) > 100
print(df[mask4])

     0   1   2   3
0   35  39  12  35
4   14  36  39  30
9   17  32  34  37
11  28  38  26  15